<div class="form-style-8">
  <h2>Stupid Coaching</h2>
  <p>Type your question below...</p>
  <form action="/answer" class="form-style-8">
  <input type="text" name="question" id="user_input">
  <input type="submit" value="Ask!" id="btn">
</form>
</div>